<!DOCTYPE html>

<html lang="en">

    <head>
    </head>

    <body>

        
       Blogs

        <form action="{% urls 'blog:editpost' post.postNumber %}">
            {% csrf_token %}

            <select id="posts" name="posts" size={% "post.size %}">
                {% for post in post.all %}
                <option type="button" id="{{ post.postNumber }}" value="{{ post.postNumber }}">{{post.title}}</option>
                {% endfor %}
            </select>

            <input type="submit" value="View post"> 
        </form>
    </body>

</html>
